In [39]:
import pickle
import pandas as pd
import numpy as np
import plotly.plotly as py
from plotly.tools import FigureFactory as FF
import datetime

In [2]:
mpframe = pd.read_pickle("../data/786/786_mpframe_160923.p")
mpframe.head(5)   ### Show raw data

,date_device_id,logs,traj,ts_area,dwelltime_area,hour_start,time_start,ts_area_end,hour_end,time_end
0,16675_02614c7588f7f8eaa0d3b9047ac08410,"[4121217, 4121026, 4121023, 4121020, 4121003, ...","[out, in, 1f, 1f-right, 2f-left, 2f, 2f-right]","[1440750511, 1440751239, 1440751250, 144075126...","[857, 128, 118, 108, 20, 28, 8]","[17, 17, 17, 17, 17, 17, 17]","[17:28:31, 17:40:39, 17:40:50, 17:41:00, 17:41...","[1440751368, 1440751367, 1440751368, 144075136...","[17, 17, 17, 17, 17, 17, 17]","[17:42:48, 17:42:47, 17:42:48, 17:42:48, 17:42..."
1,16675_028a1f4dbca00ed06814fdda60f1b599,"[4126375, 4126196, 4126195, 4126145, 4126140, ...","[out, in, 3f, 2f, 2f-right, 2f-inner, 2f-left,...","[1440725175, 1440726721, 1440726721, 144072701...","[3548, 1293, 405, 552, 418, 18, 6, 389, 266, 2...","[10, 10, 10, 10, 10, 11, 11, 11, 11, 11, 11]","[10:26:15, 10:52:01, 10:52:01, 10:56:57, 10:57...","[1440728723, 1440728014, 1440727126, 144072756...","[11, 11, 10, 11, 11, 11, 11, 11, 11, 11, 11]","[11:25:23, 11:13:34, 10:58:46, 11:06:09, 11:04..."
2,16675_062c73a8b307fd05f6af2472a35671ef,"[4120452, 4120375, 4120373, 4120262]","[out, in, 1f, 1f-inner]","[1440753481, 1440753683, 1440753683, 1440754065]","[986, 565, 565, 73]","[18, 18, 18, 18]","[18:18:01, 18:21:23, 18:21:23, 18:27:45]","[1440754467, 1440754248, 1440754248, 1440754138]","[18, 18, 18, 18]","[18:34:27, 18:30:48, 18:30:48, 18:28:58]"
3,16675_06c041f68ec481883941d47d99d6903f,"[4126346, 4126191, 4126190, 4125983, 4125982, ...","[out, in, 3f, in, 1f, out]","[1440725586, 1440726737, 1440726737, 144072778...","[2957, 200, 168, 459, 459, 16]","[10, 10, 10, 11, 11, 12]","[10:33:06, 10:52:17, 10:52:17, 11:09:40, 11:09...","[1440728543, 1440726937, 1440726905, 144072823...","[11, 10, 10, 11, 11, 12]","[11:22:23, 10:55:37, 10:55:05, 11:17:19, 11:17..."
4,16675_0a47ed78e921824cf54dddcf49ae2911,"[4121129, 4120855]","[out, in]","[1440750876, 1440751945]","[2179, 457]","[17, 17]","[17:34:36, 17:52:25]","[1440753055, 1440752402]","[18, 18]","[18:10:55, 18:00:02]"

In [3]:
lenlogs = np.asarray([len(x) for x in mpframe.logs])
indxx = np.argsort(lenlogs, )
largg = indxx[::-1]

In [45]:
def ganttprint(mfs, i):
    
    qa = mfs['traj'].ix[i] + [1000*y for y in mfs['ts_area'].ix[i]] + [1000*z for z in mfs['ts_area_end'].ix[i]]
    l = int(len(qa)/3)
    qb = np.asarray(qa)
    shape = ( 3,l )
    qc = qb.reshape( shape ).T
    qd = pd.DataFrame(qc, columns=['Task', 'Start', 'Finish'])
    qd['Start'] = qd['Start'].astype('int') 
    qd['Finish'] = qd['Finish'].astype('int')
    qd['Complete'] = np.arange(40, 60, (60-40)/l)
    qd['t_start'] = qd['Start'].apply(lambda x: datetime.datetime.fromtimestamp(x/1000).strftime('%H:%M:%S'))
    qd['t_end'] = qd['Finish'].apply(lambda x: datetime.datetime.fromtimestamp(x/1000).strftime('%H:%M:%S'))
    # .as_matrix()

    return qd

In [47]:
qd = ganttprint(mpframe, largg[30])

        Task   t_start     t_end
0        out  12:57:30  13:12:19
1         in  12:57:38  13:12:18
2   1f-right  12:57:38  12:57:54
3         1f  12:57:38  12:57:58
4         2f  13:07:20  13:08:25
5    2f-left  13:07:30  13:08:15
6         3f  13:09:37  13:11:49
7        out  13:40:40  14:15:08
8         in  13:40:40  14:15:04
9         1f  13:45:09  14:06:03
10  1f-right  13:45:30  14:06:03
11   1f-left  14:02:45  14:05:45
12  1f-inner  14:05:37  14:05:51
13        2f  14:06:51  14:08:29
14  2f-inner  14:06:53  14:07:09
15  2f-right  14:07:13  14:08:28
16        3f  14:08:41  14:08:56

In [79]:
def printchartlah(i):
    print("---------------", i,'th longest moving pattern: Sequence #', largg[i])
    qd = ganttprint(mpframe, largg[i])  ## .sort_index(ascending=False)
    print(qd[['Task','t_start', 't_end']])
    return qd

In [80]:
qd2 = printchartlah(2)

--------------- 2 th longest moving pattern: Sequence # 14457
        Task   t_start     t_end
0        out  15:48:29  16:08:19
1         in  15:49:19  15:56:26
2    1f-left  15:49:19  15:56:26
3         1f  15:49:19  15:56:26
4   1f-right  15:49:21  15:56:26
5   2f-inner  15:49:56  15:55:50
6         2f  15:49:56  15:55:50
7   2f-right  15:50:04  15:55:50
8        out  16:22:38  16:40:52
9         in  16:24:20  16:40:51
10        1f  16:24:20  16:24:33
11  1f-right  16:24:23  16:24:33
12  2f-inner  16:24:43  16:24:54
13        2f  16:24:43  16:39:34
14  2f-right  16:26:19  16:38:36
15  2f-inner  16:39:24  16:39:33
16        1f  16:39:47  16:40:51
17  1f-right  16:39:51  16:40:36
18  1f-inner  16:40:03  16:40:48
19   1f-left  16:40:03  16:40:51
20       out  16:59:04  17:04:21
21        in  16:59:04  17:04:13
22        1f  16:59:04  17:04:13
23  1f-right  16:59:07  17:00:04

In [62]:
fig2 = FF.create_gantt(qd2[['Task','Start', 'Finish', 'Complete']], colors='Viridis', index_col='Complete', show_colorbar=True)
p2 = py.iplot(fig2, filename='Numeric Variable', world_readable=True)
p2

In [81]:
qd30 = printchartlah(30)

--------------- 30 th longest moving pattern: Sequence # 7790
        Task   t_start     t_end
0        out  12:57:30  13:12:19
1         in  12:57:38  13:12:18
2   1f-right  12:57:38  12:57:54
3         1f  12:57:38  12:57:58
4         2f  13:07:20  13:08:25
5    2f-left  13:07:30  13:08:15
6         3f  13:09:37  13:11:49
7        out  13:40:40  14:15:08
8         in  13:40:40  14:15:04
9         1f  13:45:09  14:06:03
10  1f-right  13:45:30  14:06:03
11   1f-left  14:02:45  14:05:45
12  1f-inner  14:05:37  14:05:51
13        2f  14:06:51  14:08:29
14  2f-inner  14:06:53  14:07:09
15  2f-right  14:07:13  14:08:28
16        3f  14:08:41  14:08:56

In [64]:
fig30 = FF.create_gantt(qd30[['Task','Start', 'Finish', 'Complete']], colors='Viridis', index_col='Complete', show_colorbar=True)
p30 = py.iplot(fig30, filename='Numeric Variable', world_readable=True)
p30

In [82]:
qd84 = printchartlah(84)

--------------- 84 th longest moving pattern: Sequence # 21289
        Task   t_start     t_end
0        out  17:52:07  19:04:45
1         in  17:52:08  18:12:40
2   2f-inner  17:52:48  17:52:52
3         2f  17:52:48  18:12:05
4   2f-right  17:52:53  17:53:08
5         3f  18:00:19  18:09:31
6         in  18:28:38  19:04:45
7   2f-right  18:28:38  18:33:45
8         2f  18:28:38  18:35:17
9    2f-left  18:30:36  18:35:17
10        3f  18:42:51  18:51:54
11        2f  18:51:54  18:58:29
12        1f  18:51:56  19:04:45
13  1f-right  18:52:28  19:03:46
14   1f-left  18:52:33  19:04:45

In [68]:
fig84 = FF.create_gantt(qd84[['Task','Start', 'Finish', 'Complete']], colors='Viridis', index_col='Complete', show_colorbar=True)
p84 = py.iplot(fig84, filename='Numeric Variable', world_readable=True)
p84

In [83]:
qd465 = printchartlah(465)

--------------- 465 th longest moving pattern: Sequence # 20739
        Task   t_start     t_end
0        out  17:10:16  17:45:17
1         in  17:12:21  17:43:56
2         1f  17:12:21  17:43:56
3   1f-right  17:12:33  17:15:50
4    1f-left  17:13:02  17:15:08
5   1f-inner  17:13:15  17:15:51
6         2f  17:16:32  17:34:31
7    2f-left  17:17:22  17:25:27
8   2f-inner  17:18:06  17:34:30
9   2f-right  17:19:58  17:23:37
10  1f-right  17:35:16  17:43:09
11       out  18:04:17  18:06:43

In [69]:
fig465 = FF.create_gantt(qd465[['Task','Start', 'Finish', 'Complete']], colors='Viridis', index_col='Complete', show_colorbar=True)
p465 = py.iplot(fig465, filename='Numeric Variable', world_readable=True)
p465

In [84]:
qd1297 = printchartlah(1297)

--------------- 1297 th longest moving pattern: Sequence # 18870
       Task   t_start     t_end
0       out  14:16:58  14:17:24
1       out  14:38:37  14:41:32
2       out  14:54:23  15:16:41
3        in  15:01:32  15:13:44
4        1f  15:01:32  15:13:44
5        2f  15:02:00  15:12:07
6  2f-inner  15:02:01  15:08:39
7   2f-left  15:02:50  15:03:14
8  2f-right  15:03:56  15:05:38
9  1f-right  15:13:07  15:13:42

In [72]:
fig1297 = FF.create_gantt(qd1297[['Task','Start', 'Finish', 'Complete']], colors='Viridis', index_col='Complete', show_colorbar=True)
p1297 = py.iplot(fig1297, filename='Numeric Variable', world_readable=True)
p1297

In [85]:
qd4792 = printchartlah(4792)

--------------- 4792 th longest moving pattern: Sequence # 19083
       Task   t_start     t_end
0       out  15:35:36  16:44:59
1        in  16:19:17  16:20:53
2        1f  16:19:17  16:20:53
3  1f-right  16:19:20  16:20:35
4   1f-left  16:19:29  16:20:51
5  1f-inner  16:19:32  16:20:07
6       out  16:58:08  17:01:17

In [86]:
fig4792 = FF.create_gantt(qd4792[['Task','Start', 'Finish', 'Complete']], colors='Viridis', index_col='Complete', show_colorbar=True)
p4792 = py.iplot(fig4792, filename='Numeric Variable', world_readable=True)
p4792

In [88]:
qd7492 = printchartlah(7492)

--------------- 7492 th longest moving pattern: Sequence # 11748
       Task   t_start     t_end
0       out  12:59:27  13:13:54
1        in  12:59:27  13:01:48
2        2f  12:59:28  13:01:49
3  2f-right  12:59:43  13:01:27
4   2f-left  12:59:48  13:00:44
5  2f-inner  13:01:47  13:01:49

In [94]:
fig7492 = FF.create_gantt(qd7492[['Task','Start', 'Finish', 'Complete']], colors='Viridis', index_col='Complete', show_colorbar=True)
p7492 = py.iplot(fig7492, filename='Numeric Variable', world_readable=True)
p7492

In [95]:
qd11902 = printchartlah(11902)

--------------- 11902 th longest moving pattern: Sequence # 4713
       Task   t_start     t_end
0       out  15:19:59  15:40:00
1        in  15:19:59  15:39:59
2        2f  15:19:59  15:33:43
3  2f-right  15:23:31  15:25:06

In [96]:
fig11902 = FF.create_gantt(qd11902[['Task','Start', 'Finish', 'Complete']], colors='Viridis', index_col='Complete', show_colorbar=True)
p11902 = py.iplot(fig11902, filename='Numeric Variable', world_readable=True)
p11902

In [97]:
qd17831 = printchartlah(17831)

--------------- 17831 th longest moving pattern: Sequence # 18387
  Task   t_start     t_end
0  out  20:15:30  20:34:54
1   in  20:27:01  20:31:26
2   1f  20:27:01  20:31:26

In [98]:
fig17831 = FF.create_gantt(qd17831[['Task','Start', 'Finish', 'Complete']], colors='Viridis', index_col='Complete', show_colorbar=True)
p17831 = py.iplot(fig17831, filename='Numeric Variable', world_readable=True)
p17831

In [99]:
qd23607 = printchartlah(23607)

--------------- 23607 th longest moving pattern: Sequence # 2911
  Task   t_start     t_end
0  out  11:56:19  12:00:13
1   in  11:56:19  12:00:13

In [100]:
fig23607 = FF.create_gantt(qd23607[['Task','Start', 'Finish', 'Complete']], colors='Viridis', index_col='Complete', show_colorbar=True)
p23607 = py.iplot(fig23607, filename='Numeric Variable', world_readable=True)
p23607