### 160927 출장시 내 디바이스 찾기...

Date: 2016-09-28<br>
Writer: Sundong Kim<br>

16년 09월 27일 코오롱스포츠 문정직영점 출장 때 디바이스를 4개 가지고 갔었다. (핸드폰, 아이패드1미니, 갤럭시탭 2개)
방문한 시각: 13시 13분 경 을 기준으로 하여 4개 디바이스의 trajectory를 가지는지 판단하고자 하여 이 note를 만듦.

사실 핸드폰은 계속 들고 다녔고(와이파이를 일부러 껐다 켰다 해봄), 패드들은 가방 안에 같이 보관되어 있었음.


### 결론
160928: 아직은 내 device 를찾지 못하였다...
160929: device를 찾았다. deny=True에 존재했다.


### 찾기 위한 노력
조이(ZOYI - Wi-Fi 수신기 제조업체 1644-4052)에 전화: ZOYI Wi-Fi 수신기를 이용하는 코오롱 매장 데이터를 분석하고 있는 카이스트 xxx 입니다. API를 통해 제공되는 json형식의 파일을 이해하는데 도움이 필요한데 담당자와 연결시켜 주실 수 있으신가요? 

담당자분이 직접 핸드폰으로 연락주신다고 하심 (통화: Analyst 유인제씨 - iron@zoyi.yo, 010-2726-2790와 통화)

0. 소속 말하기 - 카이스트 산업공학과 이재길교수님 연구실 박사과정 김선동입니다. 
1. 매장 내부의 움직임 분석해서 고객들의 재방문을 의도하는가 연구를 진행중입니다.
2. 현재 분석하고 있는 데이터는 코오롱 문정점인데, json형식의 데이터를 이해하는데 도움이 필요해서 전화를 드렸다.
3. 코오롱 방문해 보니, zoyi wi-fi 기계로 방문자들이 와이파이를 사용하는건 아니고 트래킹 용인거 같은데, dwell_time이 어떻게 정의되는 지 궁금: Wi-Fi AP와 수신 가능한 상태 시간 을 의미하는 건지 궁금. 특정 시점에 한 군데의 Wi-Fi 수신기와 접속중이 아니라 여러 군데에 연결 가능한 상태일 수 있다
    * 센서에 인터넷이 연결되지 않아도 수집을 수집할 수 있다. 
    * Dwell time: 센서가 맨 처음 수집한 시간과 맨 마지막 시간의 차이. 
4. device_id가 핸드폰 맥 어드레스라고 들었습니다, 핸드폰의 Wi-Fi 맥어드레스는 C4:9A:33:1A:23:FT 이런식으로 생겼는데, 이것과 '4cfef2077e81acfb7e8ed5f266408f7e' 이런 형식의 데이터가 일치하지 않아서 여기에 다른 인코딩 등이 들어가나 궁금합니다.
    * 맥 어드레스는 개인 정보이기 때문에, 수집한 후 바로 hash화 시켜서 저장함. 로직은 복호화시키는 과정이기 때문에 말할 수는 없다. 다만 하나의 맥 어드레스는 하나의 device id이다.
5. Wi-Fi 수신기가 세부 구역별로(1층에 3개, 2층에 3개, 총 6개) 설치되어 있던데, 로그에 찍히는 구역은 out, in, 1f, 2f, 3f, 1f세부 3개, 2f세부 3개  - 매장 전체를 아우르는 in, 유동인구: 센서하나에서 여러 가지 크기의 영역 반지름에 따른  원의 크기. out는 여러 대에 
    * 각 센서는 여러 거리별로(예: 1m, 2m, 3m) 디바이스와 접촉할 수 있고, 그에 따라 세부존, 중간존, 매장 출입, 유동인구에 대한 분석을 수행한다. 
    * 세부 존: 1f inner 센서가 device와 처음 접촉한 순간이 ts, (접촉이 끝난 순간 - 처음 접촉한 순간)이 dwell_time.
    * 좀더 큰 존: 1f의 경우에는 3개의 센서가 특정 거리에 대해 처음 디텍팅된 시간부터 마무리된 순간까지를 1f로 나타냄
    * in과 out: 모든 센서들을 통틀어 분석하는데, 매장 입구에 해당되는 거리 이상에 닿은 순간부터 떨어진 순간까지를 in으로 판단, out의 경우는 유동 인구 체크하려고 좀더 거리를 넓혀서 같은 분석을 수행
6. 직원 deny=True 한번 직원은 영원한 직원은 아님? 
    * deny의 경우 매일 매일 재계산을 함.
    * 로직: deny=True인 건, 2주동안 10회 이상 방문 or 한번 방문했을 때 체류시간이 1시간 이상. 그러면 deny라고 설정해준다. 주변 매장 직원의 경우에도 out 센서에 접촉 가능한 빈도가 2주동안 10회 이상이면 deny로 체크
7. 메일로 웬만한건 물어보면 될 듯.(유인재: iron@zoyi.co), 방문은 지양하나 필요하다면 스케쥴을 확인해봄

최근 데이터 소량 크롤링(crawler.ipynb 참고하여 만듦)

In [3]:
### import libraries
import urllib.request, json, re
import pandas as pd
import datetime
import time, calendar

In [4]:
urlstrip1 = "http://walkinsights.com/api/v1/shops/786/sessions?"
urlstrip2 ="limit=1000&user_token=77eFJPB37UkgYyLjWZrx&user_email=jeeyeachung@kolon.com"
url = urlstrip1 + urlstrip2
response = urllib.request.urlopen(url)
str_response = response.read().decode('utf-8')
obj = json.loads(str_response)

In [5]:
ts = obj['since']
ts

'7fea88f6d93e4f9c:2f-inner'

In [4]:
with open('../data/786_160928_sample/786_'+ts+'.json', 'w') as f:
    json.dump(obj, f)
f.close()

In [6]:
while(True):
    urlstrip3 = "since="+ts+"&limit=1000&"
    url = urlstrip1 + urlstrip3 + urlstrip2
    response = urllib.request.urlopen(url)
    str_response = response.read().decode('utf-8')
    obj2 = json.loads(str_response)
    filename = '../data/786_160928_sample/786_'+ts+'.json'
    with open(filename, 'w') as f:
        json.dump(obj2, f)
    f.close()
    ts = ts = obj2['since']

In [2]:
import glob
import os

In [8]:
contents = []
files = glob.glob('../data/786_160928_sample/*.json')
for filename in files:
    with open(filename, 'r') as f:
        d = json.load(f)
        contents.extend(d['sessions'])

df = pd.DataFrame(contents)

In [9]:
df.to_pickle("../data/786_160928_sample/786_160928_sample.p")

Read & Analyze

In [6]:
### import libraries
import pandas as pd
import datetime
import numpy as np
import re

In [38]:
df = pd.read_pickle("../data/786_160928_sample/786_160928_sample.p")
df.head(5)   ### Show raw data

,area,deny,device_id,dwell_time,key,revisit_count,revisit_period,ts
0,out,NaN,b28360ee425bc932af435775834b60f7,0,786:7fea89496eff1d23:out,NaN,NaN,1474975830030
1,out,NaN,736652b63d4cff1ce9648fd19c195b1e,282,786:7fea89496fbc7c1c:out,NaN,NaN,1474975827000
2,out,NaN,b14b0a69235292dd4d09f75f19079bed,38,786:7fea894970a96da6:out,NaN,NaN,1474975823209
3,out,NaN,b59aa37cc2e30b17c1a3617a442f2f78,39,786:7fea894970bdadfa:out,NaN,NaN,1474975822885
4,out,NaN,4cfef2077e81acfb7e8ed5f266408f7e,14,786:7fea894971d33cf5:out,NaN,NaN,1474975818444

In [39]:
df['date'] = df['ts'] // 86400000
# df = df.loc[(df['deny']!= True) & (df['dwell_time'] > 0)]
df = df.loc[(df['dwell_time'] > 0)]
df['date_device_id'] = df.date.map(str) + "_" + df.device_id
df.head(5)

,area,deny,device_id,dwell_time,key,revisit_count,revisit_period,ts,date,date_device_id
1,out,NaN,736652b63d4cff1ce9648fd19c195b1e,282,786:7fea89496fbc7c1c:out,NaN,NaN,1474975827000,17071,17071_736652b63d4cff1ce9648fd19c195b1e
2,out,NaN,b14b0a69235292dd4d09f75f19079bed,38,786:7fea894970a96da6:out,NaN,NaN,1474975823209,17071,17071_b14b0a69235292dd4d09f75f19079bed
3,out,NaN,b59aa37cc2e30b17c1a3617a442f2f78,39,786:7fea894970bdadfa:out,NaN,NaN,1474975822885,17071,17071_b59aa37cc2e30b17c1a3617a442f2f78
4,out,NaN,4cfef2077e81acfb7e8ed5f266408f7e,14,786:7fea894971d33cf5:out,NaN,NaN,1474975818444,17071,17071_4cfef2077e81acfb7e8ed5f266408f7e
8,out,NaN,54cdaa508cfe85aaa6a9f022d612ce23,3,786:7fea894974f2ae56:out,NaN,NaN,1474975805653,17071,17071_54cdaa508cfe85aaa6a9f022d612ce23

In [40]:
# ### deny = 0은 걍 포함 (류인제씨 통화 이후)


# ### 직원 표시가 한번이라도 있는 device_id 삭제 (dwell_time > 0인 것들 중에서 직원 표시가 있는 id만 삭제. 
# ### dwell_time = 0인 로그가 왜이리 많은지.

# worker = set(df.loc[df['deny']==True]['device_id'].unique().tolist()) ### deny=True가 있는 user id의 set

# df = df[-df.device_id.isin(worker)] ### worker가 아닌 customer들만 df에서 남김.

In [41]:
df.groupby(['date_device_id'])['area']

In [42]:
traj = df.groupby(['date_device_id'])['area']
ar = ['out']
temp = traj.unique()
temp2 = temp[-temp.apply(lambda x: (x == ar).all())]

In [43]:
df_sample = df[df.date_device_id.isin(temp2.index.tolist())]

In [44]:
mplogs = df_sample.sort_index(ascending=False).groupby('date_device_id', sort=False).apply(lambda x: x.index.tolist()).sort_index()

In [45]:
mpframe = mplogs.to_frame(name='logs').reset_index()

In [46]:
def finddata(logs, df, data):   # x is a list of logs
   return df.ix[logs][data].tolist()

In [47]:
mpframe['traj'] = mpframe['logs'].apply(lambda x: finddata(x, df, 'area'))
mpframe['deny'] = mpframe['logs'].apply(lambda x: finddata(x, df, 'deny'))

In [48]:
df.shape

(24849, 10)

In [49]:
mpframe['ts_area'] = mpframe['logs'].apply(lambda x: finddata(x, df, 'ts'))
mpframe['dwelltime_area'] = mpframe['logs'].apply(lambda x: finddata(x, df, 'dwell_time'))

In [50]:
mpframe['ts_area'] = mpframe['ts_area'].apply(lambda x: [int(y/1000) for y in x])

In [51]:
mpframe.shape

(357, 6)

In [52]:
mpframe.ts_area.head(5)

0                [1474623592, 1474623776, 1474623776]
1    [1474614988, 1474615015, 1474615015, 1474615015]
2                            [1474620743, 1474621458]
3                [1474620716, 1474620926, 1474620926]
4    [1474616922, 1474616942, 1474617036, 1474617042]
Name: ts_area, dtype: object

In [53]:
mpframe['hour_start'] = mpframe['ts_area'].apply(lambda x: [int(datetime.datetime.fromtimestamp(y).strftime('%H')) for y in x])
mpframe['time_start'] = mpframe['ts_area'].apply(lambda x: [datetime.datetime.fromtimestamp(y).strftime('%H:%M:%S') for y in x])  # %Y-%m-%d

In [54]:
mpframe.head(1)

,date_device_id,logs,traj,deny,ts_area,dwelltime_area,hour_start,time_start
0,17067_0d30577f479ccb6f0d65e3c5f71c7c1f,"[47207, 47157, 47156]","[out, in, 2f]","[nan, nan, nan]","[1474623592, 1474623776, 1474623776]","[486, 115, 91]","[18, 18, 18]","[18:39:52, 18:42:56, 18:42:56]"

In [55]:
def calend(x, y):
    return list(map(lambda i, j: i+j, x, y ))

In [56]:
mpframe['ts_area_end'] = mpframe[['ts_area', 'dwelltime_area']].apply(lambda x: calend(*x), axis=1)

In [57]:
mpframe['hour_end'] = mpframe['ts_area_end'].apply(lambda x: [int(datetime.datetime.fromtimestamp(y).strftime('%H')) for y in x])
mpframe['time_end'] = mpframe['ts_area_end'].apply(lambda x: [datetime.datetime.fromtimestamp(y).strftime('%H:%M:%S') for y in x])

In [58]:
def printall(mp, i, columnss):
    for column in columnss:
        print(mp[column].ix[i])

In [59]:
printall(mpframe, 2, ['traj', 'ts_area','ts_area_end'])

['out', 'in']
[1474620743, 1474621458]
[1474621565, 1474621490]

In [60]:
mpframe.to_pickle("../data/786_160928_sample/786_160928_sample_mpframe_160923.p")

In [156]:
mpframe = pd.read_pickle("../data/786_160928_sample/786_160928_sample_mpframe_160923.p")
mpframe.head(5)   ### Show raw data

,date_device_id,logs,traj,deny,ts_area,dwelltime_area,hour_start,time_start,ts_area_end,hour_end,time_end
0,17067_0d30577f479ccb6f0d65e3c5f71c7c1f,"[47207, 47157, 47156]","[out, in, 2f]","[nan, nan, nan]","[1474623592, 1474623776, 1474623776]","[486, 115, 91]","[18, 18, 18]","[18:39:52, 18:42:56, 18:42:56]","[1474624078, 1474623891, 1474623867]","[18, 18, 18]","[18:47:58, 18:44:51, 18:44:27]"
1,17067_105a0589135736b802c07127537e9756,"[49748, 49739, 49738, 49737]","[out, in, 1f, 1f-right]","[nan, nan, nan, nan]","[1474614988, 1474615015, 1474615015, 1474615015]","[74, 16, 6, 6]","[16, 16, 16, 16]","[16:16:28, 16:16:55, 16:16:55, 16:16:55]","[1474615062, 1474615031, 1474615021, 1474615021]","[16, 16, 16, 16]","[16:17:42, 16:17:11, 16:17:01, 16:17:01]"
2,17067_156d7fa0cc69fdb76d1713142b9d290a,"[48044, 47846]","[out, in]","[nan, nan]","[1474620743, 1474621458]","[822, 32]","[17, 18]","[17:52:23, 18:04:18]","[1474621565, 1474621490]","[18, 18]","[18:06:05, 18:04:50]"
3,17067_1b1ccdcd3a14080ab4b14e270c37d73f,"[48048, 47993, 47992]","[out, in, 1f]","[nan, nan, nan]","[1474620716, 1474620926, 1474620926]","[2064, 467, 91]","[17, 17, 17]","[17:51:56, 17:55:26, 17:55:26]","[1474622780, 1474621393, 1474621017]","[18, 18, 17]","[18:26:20, 18:03:13, 17:56:57]"
4,17067_24c5ba4cceec281fef51da37e141d815,"[49126, 49118, 49095, 49094]","[out, in, 1f, 1f-right]","[nan, nan, nan, nan]","[1474616922, 1474616942, 1474617036, 1474617042]","[488, 345, 251, 245]","[16, 16, 16, 16]","[16:48:42, 16:49:02, 16:50:36, 16:50:42]","[1474617410, 1474617287, 1474617287, 1474617287]","[16, 16, 16, 16]","[16:56:50, 16:54:47, 16:54:47, 16:54:47]"

In [157]:
mpframe

,date_device_id,logs,traj,deny,ts_area,dwelltime_area,hour_start,time_start,ts_area_end,hour_end,time_end
0,17067_0d30577f479ccb6f0d65e3c5f71c7c1f,"[47207, 47157, 47156]","[out, in, 2f]","[nan, nan, nan]","[1474623592, 1474623776, 1474623776]","[486, 115, 91]","[18, 18, 18]","[18:39:52, 18:42:56, 18:42:56]","[1474624078, 1474623891, 1474623867]","[18, 18, 18]","[18:47:58, 18:44:51, 18:44:27]"
1,17067_105a0589135736b802c07127537e9756,"[49748, 49739, 49738, 49737]","[out, in, 1f, 1f-right]","[nan, nan, nan, nan]","[1474614988, 1474615015, 1474615015, 1474615015]","[74, 16, 6, 6]","[16, 16, 16, 16]","[16:16:28, 16:16:55, 16:16:55, 16:16:55]","[1474615062, 1474615031, 1474615021, 1474615021]","[16, 16, 16, 16]","[16:17:42, 16:17:11, 16:17:01, 16:17:01]"
2,17067_156d7fa0cc69fdb76d1713142b9d290a,"[48044, 47846]","[out, in]","[nan, nan]","[1474620743, 1474621458]","[822, 32]","[17, 18]","[17:52:23, 18:04:18]","[1474621565, 1474621490]","[18, 18]","[18:06:05, 18:04:50]"
3,17067_1b1ccdcd3a14080ab4b14e270c37d73f,"[48048, 47993, 47992]","[out, in, 1f]","[nan, nan, nan]","[1474620716, 1474620926, 1474620926]","[2064, 467, 91]","[17, 17, 17]","[17:51:56, 17:55:26, 17:55:26]","[1474622780, 1474621393, 1474621017]","[18, 18, 17]","[18:26:20, 18:03:13, 17:56:57]"
4,17067_24c5ba4cceec281fef51da37e141d815,"[49126, 49118, 49095, 49094]","[out, in, 1f, 1f-right]","[nan, nan, nan, nan]","[1474616922, 1474616942, 1474617036, 1474617042]","[488, 345, 251, 245]","[16, 16, 16, 16]","[16:48:42, 16:49:02, 16:50:36, 16:50:42]","[1474617410, 1474617287, 1474617287, 1474617287]","[16, 16, 16, 16]","[16:56:50, 16:54:47, 16:54:47, 16:54:47]"
5,17067_34f95176a5712ab935f65c12bdb0ea52,"[49995, 49994, 49993, 49992, 48956]","[in, 1f, 1f-inner, 1f-left, out]","[nan, nan, nan, nan, nan]","[1474613927, 1474613927, 1474613928, 147461392...","[92, 92, 92, 45, 49]","[15, 15, 15, 15, 16]","[15:58:47, 15:58:47, 15:58:48, 15:58:48, 16:59...","[1474614019, 1474614019, 1474614020, 147461397...","[16, 16, 16, 15, 17]","[16:00:19, 16:00:19, 16:00:20, 15:59:33, 17:00..."
6,17067_3c3ea325d87f622730b1628e60cf6db6,"[49176, 49105]","[out, in]","[nan, nan]","[1474616746, 1474616979]","[282, 49]","[16, 16]","[16:45:46, 16:49:39]","[1474617028, 1474617028]","[16, 16]","[16:50:28, 16:50:28]"
7,17067_3cb3c5d41981dcf7f75ffc1db3378c6e,"[49517, 48934, 48589, 47539, 46971, 46624, 461...","[1f-right, 1f-right, 1f-right, 1f-right, 1f-in...","[True, True, True, True, True, True, True, Tru...","[1474615808, 1474617630, 1474618845, 147462248...","[905, 300, 1509, 905, 300, 612, 5176, 313, 861...","[16, 17, 17, 18, 18, 19, 19, 20, 0, 5, 5, 5, 5...","[16:30:08, 17:00:30, 17:20:45, 18:21:28, 18:52...","[1474616713, 1474617930, 1474620354, 147462339...","[16, 17, 17, 18, 18, 19, 21, 21, 23, 7, 5, 7, ...","[16:45:13, 17:05:30, 17:45:54, 18:36:33, 18:57..."
8,17067_405fcf5e6fdc792d1d216cf4a026a810,"[49768, 49700, 48698, 48629, 48499, 46454, 463...","[2f-inner, 2f-left, 2f, 2f-left, 2f-inner, 2f,...","[True, True, True, True, True, True, True, Tru...","[1474614893, 1474615166, 1474618469, 147461873...","[1946, 825, 6614, 1222, 751, 5693, 523, 688, 4...","[16, 16, 17, 17, 17, 19, 19, 19, 8, 8, 8]","[16:14:53, 16:19:26, 17:14:29, 17:18:58, 17:26...","[1474616839, 1474615991, 1474625083, 147461996...","[16, 16, 19, 17, 17, 20, 19, 19, 21, 10, 10]","[16:47:19, 16:33:11, 19:04:43, 17:39:20, 17:39..."
9,17067_47254b16635711f6b0efb88a82290e37,"[49535, 49533, 49193, 49168, 49167, 47813, 478...","[in, 1f, out, in, 1f, in, 1f, in, 1f, in, 1f, ...","[True, True, True, True, True, True, True, Tru...","[1474615752, 1474615752, 1474616713, 147461677...","[11, 11, 26051, 6, 6, 176, 176, 381, 381, 1776...","[16, 16, 16, 16, 16, 18, 18, 18, 18, 18, 18, 1...","[16:29:12, 16:29:12, 16:45:13, 16:46:10, 16:46...","[1474615763, 1474615763, 1474642764, 147461677...","[16, 16, 23, 16, 16, 18, 18, 18, 18, 19, 19, 2...","[16:29:23, 16:29:23, 23:59:24, 16:46:16, 16:46..."
10,17067_47cbc1c26d0aa075de241967ac014e51,"[49959, 49958, 49957, 48542, 48541, 48540, 441...","[in, 2f-inner, 2f, in, 2f-inner, 2f, out, out,...","[True, True, True, True, True, True, True, Tru...","[1474614068, 1474614068, 1474614068, 147461901...","[4221, 4221, 4221, 12815, 12815, 12815, 5249, ...","[16, 16, 16, 17, 17, 17, 0, 1, 3, 7, 7, 7, 8, ...","[16:01:08, 16:01:08, 16:01:08, 17:23:38, 17:23...","[1474618289, 1474618289, 1474618289, 147463183...","[17, 17, 17, 20, 20, 20, 1, 3, 8, 7, 7, 7, 23,...","[17:11:29, 17:11:29, 17:11:29, 20:57:13, 20:57..."
11,17067_4898030d0751f7a1e9340708745f0bf7,"[45436, 45387, 45386, 45361]","[out, in, 1f, 1f-right]","[nan, nan, nan, nan]","[1474629962, 1474630204, 1474630204, 1474630325]","[727, 242, 242, 121]","[20, 20, 20, 20]","[20:26:02, 20:30:04, 20:30:04, 20:32:05]","[1474630689, 1474630446, 1474630446, 1474630446]","[20, 20, 20, 20]","[20:38:09, 20:34:06, 20:34:06, 20:34:06]"
12,17067_4a5d4c61423423e1a5dffb64a5caa241,"[47408, 47407, 47406, 47405]","[out, in, 2f, 1f]","[nan, nan, nan, nan]","[1474622863, 1474622864, 1474622864, 1474622864]","[295, 241, 230, 241]","[18, 18, 18, 18]","[18:27:43, 18:27:44, 18:27:44, 18:27:44]","[1474623158, 1474623105, 1474623094, 1474623105]","[18, 18, 18, 18]","[18:32:38, 18:31:45, 18:31:34, 18:31:45]"
13,17067_4a7a2bf88e2c0c734982f56dc0ede06d,"[47478, 47451, 43466]","[out, in, out]","[nan, nan, nan]","[1474622652, 1474622724, 1474669204]","[105, 32, 130]","[18, 18, 7]","[18:24:12, 18:25:24, 07:20:04]","[1474622757, 1474622756, 1474669334]","[18, 18, 7]","[18:25:57, 18:25:56, 07:22:14]"
14,17067_55b56485e6b133977e8bbf57799dc3cd,"[48620, 48547]","[out, in]","[nan, nan]","[1474618748, 1474618981]","[648, 73]","[17, 17]","[17:19:08, 17:23:01]","[1474619396, 1474619054]","[17, 17]","[17:29:56, 17:24:14]"
15,17067_55d34cde525efb711d98c87f172dee60,"[47365, 47336, 47335, 47334, 47244, 46654, 46590]","[out, in, 2f, 2f-right, 2f-left, 1f, 1f-right]","[nan, nan, nan, nan, nan, nan, nan]","[1474623005, 1474623126, 1474623126, 147462312...","[3148, 2759, 2161, 944, 370, 479, 238]","[18, 18, 18, 18, 18, 19, 19]","[18:30:05, 18:32:06, 18:32:06, 18:32:06, 18:37...","[1474626153, 1474625885, 1474625287, 147462407...","[19, 19, 19, 18, 18, 19, 19]","[19:22:33, 19:18:05, 19:08:07, 18:47:50, 18:43..."
16,17067_5634cc720c665756acdd033ae1220bdb,"[49484, 49470]","[out, in]","[nan, nan]","[1474615883, 1474615933]","[81, 6]","[16, 16]","[16:31:23, 16:32:13]","[1474615964, 1474615939]","[16, 16]","[16:32:44, 16:32:19]"
17,17067_5c26eaad7fa5a2f07a75c1992665e807,"[49896, 49070, 49024, 48559, 48558, 47898, 471...","[3f, in, 3f, in, 3f, 3f, in, in, 3f, in, 3f, 3...","[True, True, True, True, True, True, True, Tru...","[1474614355, 1474617133, 1474617343, 147461891...","[228, 893, 683, 4118, 306, 1748, 166, 1418, 27...","[16, 16, 16, 17, 17, 18, 18, 19, 19, 19, 19, 2...","[16:05:55, 16:52:13, 16:55:43, 17:21:58, 17:21...","[1474614583, 1474618026, 1474618026, 147462303...","[16, 17, 17, 18, 17, 18, 18, 19, 19, 20, 19, 2...","[16:09:43, 17:07:06, 17:07:06, 18:30:36, 17:27..."
18,17067_6429ab548a72c535877a34c88a3f02e0,"[44131, 43747, 43746, 43745, 43116, 43115, 43094]","[out, in, 1f-right, 1f, in, 1f, 1f-right]","[True, True, True, True, True, True, True]","[1474642960, 1474661708, 1474661708, 147466170...","[86132, 6272, 6001, 6272, 43826, 43826, 43594]","[0, 5, 5, 5, 8, 8, 8]","[00:02:40, 05:15:08, 05:15:08, 05:15:08, 08:47...","[1474729092, 1474667980, 1474667709, 147466798...","[23, 6, 6, 6, 20, 20, 20]","[23:58:12, 06:59:40, 06:55:09, 06:59:40, 20:58..."
19,17067_678811f2ba54a0ab8b1738e61bcf6ea1,"[47287, 47080, 46174, 46173, 46166, 45266, 452...","[in, 1f, in, 1f, 1f-right, in, 1f-right, 1f, out]","[True, True, True, True, True, True, True, Tru...","[1474623292, 1474623969, 1474627097, 147462709...","[688, 12, 2834, 2834, 310, 1526, 613, 1526, 28]","[18, 18, 19, 19, 19, 20, 20, 20, 22]","[18:34:52, 18:46:09, 19:38:17, 19:38:17, 19:39...","[1474623980, 1474623981, 1474629931, 147462993...","[18, 18, 20, 20, 19, 21, 20, 21, 22]","[18:46:20, 18:46:21, 20:25:31, 20:25:31, 19:44..."
20,17067_6b4224851bbf00ce04c3fe40d04ba8d0,"[49881, 49867, 49866, 49860, 49858, 49857, 498...","[out, in, 1f, 1f-left, 1f-right, 2f, 1f-inner,...","[nan, nan, nan, nan, nan, nan, nan, nan, nan, ...","[1474614438, 1474614547, 1474614547, 147461455...","[5164, 2378, 2378, 219, 795, 2167, 346, 580, 4...","[16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 1...","[16:07:18, 16:09:07, 16:09:07, 16:09:16, 16:09...","[1474619602, 1474616925, 1474616925, 147461477...","[17, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 1...","[17:33:22, 16:48:45, 16:48:45, 16:12:55, 16:22..."
21,17067_774a03326b054a7902cc388e9330e2e6,"[48193, 48184, 48183, 48152, 47887]","[out, in, 1f, 1f-right, out]","[nan, nan, nan, nan, nan]","[1474620325, 1474620347, 1474620347, 147462041...","[175, 129, 129, 65, 86]","[17, 17, 17, 17, 18]","[17:45:25, 17:45:47, 17:45:47, 17:46:51, 18:02...","[1474620500, 1474620476, 1474620476, 147462047...","[17, 17, 17, 17, 18]","[17:48:20, 17:47:56, 17:47:56, 17:47:56, 18:03..."
22,17067_7c981aba60c9c9f048d5f8cd783cf8c1,"[49746, 49106, 48762, 48735, 47646, 47640, 465...","[1f-inner, 1f-inner, 1f-inner, 1f-right, 1f-in...","[True, True, True, True, True, True, True, Tru...","[1474614989, 1474616969, 1474618259, 147461835...","[738, 540, 682, 6840, 3478, 10155, 6089, 1438,...","[16, 16, 17, 17, 18, 18, 19, 19, 20, 20, 21, 2...","[16:16:29, 16:49:29, 17:10:59, 17:12:30, 18:14...","[1474615727, 1474617509, 1474618941, 147462519...","[16, 16, 17, 19, 19, 21, 21, 19, 20, 20, 22, 2...","[16:28:47, 16:58:29, 17:22:21, 19:06:30, 19:12..."
23,17067_82221803e4d732ccc5f2fd25a61185f1,"[49370, 48815, 48814, 46691, 43709]","[out, in, 1f, out, out]","[nan, nan, nan, nan, nan]","[1474616199, 1474618087, 1474618087, 147462529...","[2745, 11, 11, 84, 45]","[16, 17, 17, 19, 5]","[16:36:39, 17:08:07, 17:08:07, 19:08:14, 05:24...","[1474618944, 1474618098, 1474618098, 147462537...","[17, 17, 17, 19, 5]","[17:22:24, 17:08:18, 17:08:18, 19:09:38, 05:25..."
24,17067_844c4f160ed973eb8dad8525f1cf9547,"[46494, 46443]","[out, in]","[nan, nan]","[1474625980, 1474626090]","[937, 11]","[19, 19]","[19:19:40, 19:21:30]","[1474626917, 1474626101]","[19, 19]","[19:35:17, 19:21:41]"
25,17067_9241d611e09c1c7f6172f58e9aa13ac7,"[47564, 47548, 47547]","[out, in, 1f]","[nan, nan, nan]","[1474622362, 1474622468, 1474622468]","[630, 2, 2]","[18, 18, 18]","[18:19:22, 18:21:08, 18:21:08]","[1474622992, 1474622470, 1474622470]","[18, 18, 18]","[18:29:52, 18:21:10, 18:21:10]"
26,17067_97fa12ca2eb6d713eae424726f829910,"[49494, 49423, 49421, 49420]","[out, in, 2f, 2f-left]","[nan, nan, nan, nan]","[1474615861, 1474616091, 1474616091, 1474616091]","[514, 283, 283, 99]","[16, 16, 16, 16]","[16:31:01, 16:34:51, 16:34:51, 16:34:51]","[1474616375, 1474616374, 1474616374, 1474616190]","[16, 16, 16, 16]","[16:39:35, 16:39:34, 16:39:34, 16:36:30]"
27,17067_997c0bbcdd5b794f9667ba92b6d6de66,"[48124, 48123, 48122, 48121]","[out, in, 1f-right, 1f]","[nan, nan, nan, nan]","[1474620486, 1474620486, 1474620486, 1474620486]","[285, 246, 206, 246]","[17, 17, 17, 17]","[17:48:06, 17:48:06, 17:48:06, 17:48:06]","[1474620771, 1474620732, 1474620692, 1474620732]","[17, 17, 17, 17]","[17:52:51, 17:52:12, 17:51:32, 17:52:12]"
28,17067_9fb53edfa51e283d01a47b76af41bc13,"[49224, 48346, 47142, 46203, 44138, 43142, 431...","[2f-inner, 2f-inner, 2f-inner, 2f-inner, out, ...","[True, True, True, True, True, True, True, True]","[1474616648, 1474619709, 1474623828, 147462693...","[997, 295, 75, 1473, 79277, 31964, 350, 31964]","[16, 17, 18, 19, 0, 8, 8, 8]","[16:44:08, 17:35:09, 18:43:48, 19:35:38, 00:00...","[1474617645, 1474620004, 1474623903, 147462841...","[17, 17, 18, 20, 22, 17, 8, 17]","[17:00:45, 17:40:04, 18:45:03, 20:00:11, 22:01..."
29,17067_a33154e43e50cc9c19b1887a8797ad2e,"[49052, 48906, 48905]","[out, in, 2f]","[nan, nan, nan]","[1474617240, 1474617711, 1474617711]","[571, 32, 32]","[16, 17, 17]","[16:54:00, 17:01:51, 17:01:51]","[1474617811, 1474617743, 1474617743]","[17, 17, 17]","[17:03:31, 17:02:23, 17:02:23]"
...,...,...,...,...,...,...,...,...,...,...,...
327,17071_6429ab548a72c535877a34c88a3f02e0,"[8356, 8355, 8354, 8337, 8323, 8160, 7487, 703...","[in, 1f-right, 1f, 1f-inner, 1f-left, 1f-inner...","[True, True, True, True, True, True, True, Tru...","[1474935044, 1474935044, 1474935044, 147493509...","[43510, 38947, 43510, 79, 4216, 24568, 1539, 3...","[9, 9, 9, 9, 9, 9, 10, 11, 16, 18, 20]","[09:10:44, 09:10:44, 09:10:44, 09:11:38, 09:12...","[1474978554, 1474973991, 1474978554, 147493517...","[21, 19, 21, 9, 10, 16, 11, 21, 18, 20, 21]","[21:15:54, 19:59:51, 21:15:54, 09:12:57, 10:23..."
328,17071_678811f2ba54a0ab8b1738e61bcf6ea1,"[8324, 8132, 8130, 7984, 7768, 7766, 7573, 713...","[out, in, 2f, 1f, in, 1f, out, in, 1f, 1f-righ...","[True, True, True, True, True, True, True, Tru...","[1474935171, 1474936243, 1474936243, 147493713...","[3607, 1203, 598, 309, 17, 17, 39712, 3679, 36...","[9, 9, 9, 9, 10, 10, 10, 11, 11, 11, 12, 13, 1...","[09:12:51, 09:30:43, 09:30:43, 09:45:37, 10:05...","[1474938778, 1474937446, 1474936841, 147493744...","[10, 9, 9, 9, 10, 10, 21, 12, 12, 11, 13, 13, ...","[10:12:58, 09:50:46, 09:40:41, 09:50:46, 10:06..."
329,17071_6d1c5e1106e102b3f06abea306bcf494,"[2864, 2860, 2859]","[out, in, 1f]","[nan, nan, nan]","[1474962731, 1474962775, 1474962775]","[240, 73, 73]","[16, 16, 16]","[16:52:11, 16:52:55, 16:52:55]","[1474962971, 1474962848, 1474962848]","[16, 16, 16]","[16:56:11, 16:54:08, 16:54:08]"
330,17071_70f0970df1dd53ad8f53d2544add617c,"[8032, 8027, 8026, 7883, 2949]","[out, in, 1f, out, out]","[nan, nan, nan, nan, nan]","[1474936827, 1474936855, 1474936855, 147493772...","[71, 9, 9, 85, 682]","[9, 9, 9, 9, 16]","[09:40:27, 09:40:55, 09:40:55, 09:55:20, 16:46...","[1474936898, 1474936864, 1474936864, 147493780...","[9, 9, 9, 9, 16]","[09:41:38, 09:41:04, 09:41:04, 09:56:45, 16:58..."
331,17071_7178a3e01804f0721ee030d4c6714f86,"[6360, 6359, 6358]","[out, in, 1f]","[nan, nan, nan]","[1474946343, 1474946343, 1474946343]","[421, 376, 376]","[12, 12, 12]","[12:19:03, 12:19:03, 12:19:03]","[1474946764, 1474946719, 1474946719]","[12, 12, 12]","[12:26:04, 12:25:19, 12:25:19]"
332,17071_788bcf0af8e410d5907caaa3a41b31c8,"[6058, 6039, 6038, 5692]","[out, in, 1f, out]","[nan, nan, nan, nan]","[1474947755, 1474947819, 1474947819, 1474949468]","[67, 2, 2, 56]","[12, 12, 12, 13]","[12:42:35, 12:43:39, 12:43:39, 13:11:08]","[1474947822, 1474947821, 1474947821, 1474949524]","[12, 12, 12, 13]","[12:43:42, 12:43:41, 12:43:41, 13:12:04]"
333,17071_79330d0cd4fc7171fc3ec1559dadb80c,"[7739, 940, 801]","[out, out, in]","[nan, nan, nan]","[1474938487, 1474970674, 1474971298]","[87, 684, 20]","[10, 19, 19]","[10:08:07, 19:04:34, 19:14:58]","[1474938574, 1474971358, 1474971318]","[10, 19, 19]","[10:09:34, 19:15:58, 19:15:18]"
334,17071_79cb44db9325eb96340a149320d5efa5,"[2466, 2416, 2415, 946]","[out, in, 1f, out]","[nan, nan, nan, nan]","[1474964639, 1474964849, 1474964849, 1474970651]","[5190, 601, 601, 7533]","[17, 17, 17, 19]","[17:23:59, 17:27:29, 17:27:29, 19:04:11]","[1474969829, 1474965450, 1474965450, 1474978184]","[18, 17, 17, 21]","[18:50:29, 17:37:30, 17:37:30, 21:09:44]"
335,17071_7c981aba60c9c9f048d5f8cd783cf8c1,"[8367, 8366, 8362, 3757]","[in, 1f, 1f-right, 1f-left]","[True, True, True, True]","[1474935038, 1474935038, 1474935040, 1474958271]","[43231, 43231, 43230, 179]","[9, 9, 9, 15]","[09:10:38, 09:10:38, 09:10:40, 15:37:51]","[1474978269, 1474978269, 1474978270, 1474958450]","[21, 21, 21, 15]","[21:11:09, 21:11:09, 21:11:10, 15:40:50]"
336,17071_8b7c08b5c9795400d7ae2bbe8b1be410,"[2903, 2896, 2895, 2894]","[out, in, 2f-right, 2f]","[nan, nan, nan, nan]","[1474962587, 1474962621, 1474962621, 1474962621]","[63, 10, 10, 10]","[16, 16, 16, 16]","[16:49:47, 16:50:21, 16:50:21, 16:50:21]","[1474962650, 1474962631, 1474962631, 1474962631]","[16, 16, 16, 16]","[16:50:50, 16:50:31, 16:50:31, 16:50:31]"
337,17071_8bccfac7e901418055edc351b228bd95,"[6677, 6669, 6665, 5209, 4172]","[out, in, 2f, out, out]","[nan, nan, nan, nan, nan]","[1474944546, 1474944577, 1474944603, 147495162...","[116, 31, 5, 994, 1008]","[11, 11, 11, 13, 15]","[11:49:06, 11:49:37, 11:50:03, 13:47:08, 15:06...","[1474944662, 1474944608, 1474944608, 147495262...","[11, 11, 11, 14, 15]","[11:51:02, 11:50:08, 11:50:08, 14:03:42, 15:22..."
338,17071_8c854c38fdb2f233eb6bc6c80df6c11e,"[5658, 5657, 5656, 5655, 5514, 5309, 4799, 479...","[out, in, 1f, 2f, 2f-left, 1f, 2f-inner, 2f-le...","[True, True, True, True, True, True, True, Tru...","[1474949646, 1474949646, 1474949646, 147494964...","[8435, 8434, 317, 7207, 494, 951, 634, 1268, 313]","[13, 13, 13, 13, 13, 13, 14, 14, 15]","[13:14:06, 13:14:06, 13:14:06, 13:14:07, 13:24...","[1474958081, 1474958080, 1474949963, 147495685...","[15, 15, 13, 15, 13, 13, 14, 14, 15]","[15:34:41, 15:34:40, 13:19:23, 15:14:14, 13:32..."
339,17071_8f4e27fd5639b469500efedaaa933ec5,"[5261, 5036, 5011]","[out, in, 1f]","[nan, nan, nan]","[1474951341, 1474952490, 1474952576]","[1438, 256, 170]","[13, 14, 14]","[13:42:21, 14:01:30, 14:02:56]","[1474952779, 1474952746, 1474952746]","[14, 14, 14]","[14:06:19, 14:05:46, 14:05:46]"
340,17071_94e33d8e1f6df950a3f45e408107478f,"[1534, 1523, 1522]","[out, in, 1f]","[nan, nan, nan]","[1474968551, 1474968592, 1474968592]","[72, 3, 3]","[18, 18, 18]","[18:29:11, 18:29:52, 18:29:52]","[1474968623, 1474968595, 1474968595]","[18, 18, 18]","[18:30:23, 18:29:55, 18:29:55]"
341,17071_9fb53edfa51e283d01a47b76af41bc13,"[8343, 8342, 8341]","[in, 2f-inner, 2f]","[True, True, True]","[1474935083, 1474935083, 1474935083]","[43319, 41808, 41808]","[9, 9, 9]","[09:11:23, 09:11:23, 09:11:23]","[1474978402, 1474976891, 1474976891]","[21, 20, 20]","[21:13:22, 20:48:11, 20:48:11]"
342,17071_a1bba2f4c777010f2bf35e01d337366d,"[5388, 5373, 54]","[out, in, out]","[nan, nan, nan]","[1474950788, 1474950813, 1474975588]","[172, 83, 21]","[13, 13, 20]","[13:33:08, 13:33:33, 20:26:28]","[1474950960, 1474950896, 1474975609]","[13, 13, 20]","[13:36:00, 13:34:56, 20:26:49]"
343,17071_a579c60e6b51feaa4aba4625cfb95244,"[2656, 2655, 2654, 2653, 2652, 2651, 2427]","[out, in, 1f-right, 1f, 1f-inner, 1f-left, out]","[nan, nan, nan, nan, nan, nan, nan]","[1474963651, 1474963652, 1474963652, 147496365...","[405, 404, 218, 404, 403, 303, 68]","[17, 17, 17, 17, 17, 17, 17]","[17:07:31, 17:07:32, 17:07:32, 17:07:32, 17:07...","[1474964056, 1474964056, 1474963870, 147496405...","[17, 17, 17, 17, 17, 17, 17]","[17:14:16, 17:14:16, 17:11:10, 17:14:16, 17:14..."
344,17071_a929327a342b73653547b9ce57eba9a7,"[6879, 5452, 5383, 5382, 2631]","[out, out, in, 1f, out]","[nan, nan, nan, nan, nan]","[1474943385, 1474950558, 1474950798, 147495079...","[184, 243, 3, 3, 6]","[11, 13, 13, 13, 17]","[11:29:45, 13:29:18, 13:33:18, 13:33:18, 17:08...","[1474943569, 1474950801, 1474950801, 147495080...","[11, 13, 13, 13, 17]","[11:32:49, 13:33:21, 13:33:21, 13:33:21, 17:08..."
345,17071_bae0d70168b13f5edf6a9670a3f842ff,"[7584, 7572, 3741]","[out, in, out]","[nan, nan, nan]","[1474939493, 1474939533, 1474958354]","[57, 4, 177]","[10, 10, 15]","[10:24:53, 10:25:33, 15:39:14]","[1474939550, 1474939537, 1474958531]","[10, 10, 15]","[10:25:50, 10:25:37, 15:42:11]"
346,17071_bd4dae9cae2b0ff80140ef000d9d8392,"[1178, 1177, 1176, 1170, 1163, 1123, 1119]","[out, in, 2f, 2f-inner, 2f-left, 1f, 1f-right]","[nan, nan, nan, nan, nan, nan, nan]","[1474969754, 1474969755, 1474969755, 147496980...","[240, 214, 193, 39, 36, 6, 2]","[18, 18, 18, 18, 18, 18, 18]","[18:49:14, 18:49:15, 18:49:15, 18:50:06, 18:50...","[1474969994, 1474969969, 1474969948, 147496984...","[18, 18, 18, 18, 18, 18, 18]","[18:53:14, 18:52:49, 18:52:28, 18:50:45, 18:51..."
347,17071_bf9a76e29d69a7f92f8af6e4112f38d3,"[6223, 6221]","[out, in]","[nan, nan]","[1474946947, 1474946953]","[95, 3]","[12, 12]","[12:29:07, 12:29:13]","[1474947042, 1474946956]","[12, 12]","[12:30:42, 12:29:16]"

In [158]:
mpframe.traj

0                                          [out, in, 2f]
1                                [out, in, 1f, 1f-right]
2                                              [out, in]
3                                          [out, in, 1f]
4                                [out, in, 1f, 1f-right]
5                       [in, 1f, 1f-inner, 1f-left, out]
6                                              [out, in]
7      [1f-right, 1f-right, 1f-right, 1f-right, 1f-in...
8      [2f-inner, 2f-left, 2f, 2f-left, 2f-inner, 2f,...
9      [in, 1f, out, in, 1f, in, 1f, in, 1f, in, 1f, ...
10     [in, 2f-inner, 2f, in, 2f-inner, 2f, out, out,...
11                               [out, in, 1f, 1f-right]
12                                     [out, in, 2f, 1f]
13                                        [out, in, out]
14                                             [out, in]
15        [out, in, 2f, 2f-right, 2f-left, 1f, 1f-right]
16                                             [out, in]
17     [3f, in, 3f, in, 3f, 3f, in, in, 3f, in, 3f, 3...
18             [out, in, 1f-right, 1f, in, 1f, 1f-right]
19     [in, 1f, in, 1f, 1f-right, in, 1f-right, 1f, out]
20     [out, in, 1f, 1f-left, 1f-right, 2f, 1f-inner,...
21                          [out, in, 1f, 1f-right, out]
22     [1f-inner, 1f-inner, 1f-inner, 1f-right, 1f-in...
23                               [out, in, 1f, out, out]
24                                             [out, in]
25                                         [out, in, 1f]
26                                [out, in, 2f, 2f-left]
27                               [out, in, 1f-right, 1f]
28     [2f-inner, 2f-inner, 2f-inner, 2f-inner, out, ...
29                                         [out, in, 2f]
                             ...
327    [in, 1f-right, 1f, 1f-inner, 1f-left, 1f-inner...
328    [out, in, 2f, 1f, in, 1f, out, in, 1f, 1f-righ...
329                                        [out, in, 1f]
330                              [out, in, 1f, out, out]
331                                        [out, in, 1f]
332                                   [out, in, 1f, out]
333                                       [out, out, in]
334                                   [out, in, 1f, out]
335                          [in, 1f, 1f-right, 1f-left]
336                              [out, in, 2f-right, 2f]
337                              [out, in, 2f, out, out]
338    [out, in, 1f, 2f, 2f-left, 1f, 2f-inner, 2f-le...
339                                        [out, in, 1f]
340                                        [out, in, 1f]
341                                   [in, 2f-inner, 2f]
342                                       [out, in, out]
343      [out, in, 1f-right, 1f, 1f-inner, 1f-left, out]
344                              [out, out, in, 1f, out]
345                                       [out, in, out]
346       [out, in, 2f, 2f-inner, 2f-left, 1f, 1f-right]
347                                            [out, in]
348                           [out, in, 1f, in, 1f, out]
349    [out, in, 2f-right, 2f, 2f-left, 2f-inner, 1f,...
350                                   [out, in, 1f, out]
351                                            [out, in]
352            [out, in, 1f, 1f-right, in, 1f, 1f-right]
353                                        [out, in, 1f]
354                                            [out, in]
355    [out, in, 1f, 1f-right, in, 2f-inner, 2f, 1f, ...
356                         [out, in, 1f, 1f-right, out]
Name: traj, dtype: object

In [179]:
mpframe[mpframe.date_device_id.str.startswith('17071')].date_device_id  ## 9월 27일 데이터

303    17071_07efe7f0724f4ade616c11768258cb1c
304    17071_0b435eaa07b9373f05637cf8b03a8da2
305    17071_0e285cca09c99b114c1adf1a8fc2fac2
306    17071_123fd393d9c0f7b2ed285a64c509f6b0
307    17071_158c04751bcda6dd0326fdb5bb210634
308    17071_1c987aac0e0a0ad4e6c4fdcbf76308de
309    17071_24cf9482edc593eb79ec7ab81e50b8a5
310    17071_268eac5b638caea26f795a8fbd5da92b
311    17071_278cd36886e28d27fa03b4e7aef21687
312    17071_2f10b26efcf4f3806ee41b3337158398
313    17071_3152692afe8ff0e5715aacb89ab92ef4
314    17071_3cb3c5d41981dcf7f75ffc1db3378c6e
315    17071_3e6d2d72e4adda00d4fa3349be12c0b0
316    17071_405fcf5e6fdc792d1d216cf4a026a810
317    17071_445f102a759a807b60803c95b19a6132
318    17071_47254b16635711f6b0efb88a82290e37
319    17071_47cbc1c26d0aa075de241967ac014e51
320    17071_4c676782d37f8f3512ca0e563abc6bd6
321    17071_5550d077aac5ff2fdab5300565143d8c
322    17071_55d34cde525efb711d98c87f172dee60
323    17071_5b5232993bcc525e43d7f2b29eb23ece
324    17071_5c26eaad7fa5a2f07a75c1992665e807
325    17071_5dd63ba8a12d13f0a397a548062be9c4
326    17071_5f7db6e274d5dbdf2a70efd4888e092c
327    17071_6429ab548a72c535877a34c88a3f02e0
328    17071_678811f2ba54a0ab8b1738e61bcf6ea1
329    17071_6d1c5e1106e102b3f06abea306bcf494
330    17071_70f0970df1dd53ad8f53d2544add617c
331    17071_7178a3e01804f0721ee030d4c6714f86
332    17071_788bcf0af8e410d5907caaa3a41b31c8
333    17071_79330d0cd4fc7171fc3ec1559dadb80c
334    17071_79cb44db9325eb96340a149320d5efa5
335    17071_7c981aba60c9c9f048d5f8cd783cf8c1
336    17071_8b7c08b5c9795400d7ae2bbe8b1be410
337    17071_8bccfac7e901418055edc351b228bd95
338    17071_8c854c38fdb2f233eb6bc6c80df6c11e
339    17071_8f4e27fd5639b469500efedaaa933ec5
340    17071_94e33d8e1f6df950a3f45e408107478f
341    17071_9fb53edfa51e283d01a47b76af41bc13
342    17071_a1bba2f4c777010f2bf35e01d337366d
343    17071_a579c60e6b51feaa4aba4625cfb95244
344    17071_a929327a342b73653547b9ce57eba9a7
345    17071_bae0d70168b13f5edf6a9670a3f842ff
346    17071_bd4dae9cae2b0ff80140ef000d9d8392
347    17071_bf9a76e29d69a7f92f8af6e4112f38d3
348    17071_c0aedde403ccf542ac0dfbf70bb546e5
349    17071_c3035b21511ce11866627fcbf181644e
350    17071_c4e42b15bfe1ca8f2f0ad84b75fbd704
351    17071_c9b903ad1547b5d4f345eef0d7ea90dd
352    17071_de12dccd21897a9d433ecfef28afdf63
353    17071_e3801761c2edade7728abab6aaaca374
354    17071_e83c567d8b8f29f5d3b0b89737aa8c8b
355    17071_ec588edbcb0b6975125e3c441a389381
356    17071_ee70e42e0385b0991b156a593e605e59
Name: date_device_id, dtype: object

In [160]:
def ganttprint(mfs, i):
    
    qa = mfs['traj'].ix[i] + [1000*y for y in mfs['ts_area'].ix[i]] + [1000*z for z in mfs['ts_area_end'].ix[i]]
    l = int(len(qa)/3)
    qb = np.asarray(qa)
    shape = ( 3,l )
    qc = qb.reshape( shape ).T
    qd = pd.DataFrame(qc, columns=['Task', 'Start', 'Finish'])
    qd['Start'] = qd['Start'].astype('int') 
    qd['Finish'] = qd['Finish'].astype('int')
    qd['Complete'] = np.arange(40, 60, (60-40)/l)
    qd['t_start'] = qd['Start'].apply(lambda x: datetime.datetime.fromtimestamp(x/1000).strftime('%H:%M:%S'))
    qd['t_end'] = qd['Finish'].apply(lambda x: datetime.datetime.fromtimestamp(x/1000).strftime('%H:%M:%S'))
    # .as_matrix()
    return qd

In [161]:
lenlogs = np.asarray([len(x) for x in mpframe.logs])
indxx = np.argsort(lenlogs, )
largg = indxx[::-1]

In [162]:
ganttprint(mpframe, largg[13])

        Task          Start         Finish   Complete   t_start     t_end
0         in  1474762497000  1474762648000  40.000000  09:14:57  09:17:28
1   1f-right  1474762497000  1474762648000  40.909091  09:14:57  09:17:28
2         1f  1474762497000  1474762648000  41.818182  09:14:57  09:17:28
3         in  1474763690000  1474781880000  42.727273  09:34:50  14:38:00
4         1f  1474763690000  1474781880000  43.636364  09:34:50  14:38:00
5   1f-right  1474763816000  1474765457000  44.545455  09:36:56  10:04:17
6   1f-inner  1474765589000  1474766265000  45.454545  10:06:29  10:17:45
7   1f-right  1474766373000  1474766716000  46.363636  10:19:33  10:25:16
8   1f-right  1474767807000  1474768860000  47.272727  10:43:27  11:01:00
9   1f-right  1474769580000  1474770898000  48.181818  11:13:00  11:34:58
10  1f-right  1474771687000  1474774748000  49.090909  11:48:07  12:39:08
11  1f-right  1474775661000  1474777112000  50.000000  12:54:21  13:18:32
12  1f-right  1474779065000  1474779486000  50.909091  13:51:05  13:58:06
13  1f-right  1474780387000  1474781468000  51.818182  14:13:07  14:31:08
14        in  1474786211000  1474786582000  52.727273  15:50:11  15:56:22
15        1f  1474786211000  1474786582000  53.636364  15:50:11  15:56:22
16        in  1474787511000  1474788972000  54.545455  16:11:51  16:36:12
17        1f  1474787511000  1474788972000  55.454545  16:11:51  16:36:12
18        in  1474789777000  1474793275000  56.363636  16:49:37  17:47:55
19        1f  1474789777000  1474793275000  57.272727  16:49:37  17:47:55
20  1f-right  1474790169000  1474791355000  58.181818  16:56:09  17:15:55
21  1f-right  1474792510000  1474792930000  59.090909  17:35:10  17:42:10

In [163]:
didcands = ['17071_5550d077aac5ff2fdab5300565143d8c', '17071_5dd63ba8a12d13f0a397a548062be9c4', '17071_8c854c38fdb2f233eb6bc6c80df6c11e', '17071_c3035b21511ce11866627fcbf181644e','17071_de12dccd21897a9d433ecfef28afdf63']

In [164]:
mpframe_cand = mpframe[mpframe.date_device_id.isin(didcands)].reset_index()  ## 9월 27일 데이터

In [165]:
mpframe_cand

,index,date_device_id,logs,traj,deny,ts_area,dwelltime_area,hour_start,time_start,ts_area_end,hour_end,time_end
0,321,17071_5550d077aac5ff2fdab5300565143d8c,"[5667, 5652, 5651, 5355, 5319, 5318, 5040, 503...","[out, in, 2f, 2f, 1f-right, 1f, in, 2f, in]","[True, True, True, True, True, True, True, Tru...","[1474949612, 1474949671, 1474949671, 147495093...","[8358, 1878, 45, 614, 210, 210, 1725, 569, 48]","[13, 13, 13, 13, 13, 13, 14, 14, 15]","[13:13:32, 13:14:31, 13:14:31, 13:35:35, 13:37...","[1474957970, 1474951549, 1474949716, 147495154...","[15, 13, 13, 13, 13, 13, 14, 14, 15]","[15:32:50, 13:45:49, 13:15:16, 13:45:49, 13:41..."
1,325,17071_5dd63ba8a12d13f0a397a548062be9c4,"[5611, 5603, 5602, 5546, 5534, 5330, 5299, 529...","[out, in, 1f, 2f, 2f-inner, 1f, 1f-right, 1f-l...","[True, True, True, True, True, True, True, Tru...","[1474949861, 1474949881, 1474949881, 147495014...","[8116, 7679, 3, 7208, 1949, 285, 158, 157, 124...","[13, 13, 13, 13, 13, 13, 13, 13, 13, 14, 14, 1...","[13:17:41, 13:18:01, 13:18:01, 13:22:26, 13:23...","[1474957977, 1474957560, 1474949884, 147495735...","[15, 15, 13, 15, 13, 13, 13, 13, 14, 14, 14, 1...","[15:32:57, 15:26:00, 13:18:04, 15:22:34, 13:55..."
2,338,17071_8c854c38fdb2f233eb6bc6c80df6c11e,"[5658, 5657, 5656, 5655, 5514, 5309, 4799, 479...","[out, in, 1f, 2f, 2f-left, 1f, 2f-inner, 2f-le...","[True, True, True, True, True, True, True, Tru...","[1474949646, 1474949646, 1474949646, 147494964...","[8435, 8434, 317, 7207, 494, 951, 634, 1268, 313]","[13, 13, 13, 13, 13, 13, 14, 14, 15]","[13:14:06, 13:14:06, 13:14:06, 13:14:07, 13:24...","[1474958081, 1474958080, 1474949963, 147495685...","[15, 15, 13, 15, 13, 13, 14, 14, 15]","[15:34:41, 15:34:40, 13:19:23, 15:14:14, 13:32..."
3,349,17071_c3035b21511ce11866627fcbf181644e,"[5653, 5650, 5649, 5648, 5646, 5639, 5620, 561...","[out, in, 2f-right, 2f, 2f-left, 2f-inner, 1f,...","[True, True, True, True, True, True, True, Tru...","[1474949670, 1474949675, 1474949693, 147494969...","[8459, 8411, 75, 2322, 546, 1766, 1237, 86, 81...","[13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 1...","[13:14:30, 13:14:35, 13:14:53, 13:14:53, 13:15...","[1474958129, 1474958086, 1474949768, 147495201...","[15, 15, 13, 13, 13, 13, 13, 13, 13, 13, 13, 1...","[15:35:29, 15:34:46, 13:16:08, 13:53:35, 13:24..."
4,352,17071_de12dccd21897a9d433ecfef28afdf63,"[5637, 5636, 5635, 5634, 5283, 5217, 5216]","[out, in, 1f, 1f-right, in, 1f, 1f-right]","[nan, nan, nan, nan, nan, nan, nan]","[1474949734, 1474949734, 1474949734, 147494973...","[2403, 784, 784, 764, 895, 574, 455]","[13, 13, 13, 13, 13, 13, 13]","[13:15:34, 13:15:34, 13:15:34, 13:15:35, 13:40...","[1474952137, 1474950518, 1474950518, 147495049...","[13, 13, 13, 13, 13, 13, 13]","[13:55:37, 13:28:38, 13:28:38, 13:28:19, 13:55..."

In [166]:
lenlogs = np.asarray([len(x) for x in mpframe_cand.logs])
indxx = np.argsort(lenlogs, )
largg = indxx[::-1]

In [167]:
def printchartlah(f, i):
    lenlogs = np.asarray([len(x) for x in f.logs])
    indxx = np.argsort(lenlogs, )
    largg = indxx[::-1]
    print("---------------", i,'th longest moving pattern: Sequence #', largg[i])
    print("---------------", "Date_Device_id: ", f[largg[i]:largg[i]+1].date_device_id.values[0])
    qd = ganttprint(f, largg[i])  ## .sort_index(ascending=False)
    print(qd[['Task','t_start', 't_end']])
    return qd

In [168]:
qd0 = printchartlah(mpframe_cand, 0)

--------------- 0 th longest moving pattern: Sequence # 3
--------------- Date_Device_id:  17071_c3035b21511ce11866627fcbf181644e
        Task   t_start     t_end
0        out  13:14:30  15:35:29
1         in  13:14:35  15:34:46
2   2f-right  13:14:53  13:16:08
3         2f  13:14:53  13:53:35
4    2f-left  13:15:03  13:24:09
5   2f-inner  13:15:27  13:44:53
6         1f  13:17:04  13:37:41
7   1f-right  13:17:10  13:18:36
8    1f-left  13:17:31  13:18:52
9   2f-right  13:29:02  13:36:07
10  1f-right  13:31:23  13:33:34
11  1f-inner  13:31:29  13:33:04
12   1f-left  13:31:37  13:32:22
13   2f-left  13:47:38  13:53:15
14        2f  14:24:20  15:11:03
15  2f-right  14:24:45  14:43:42
16        1f  14:30:16  14:36:30
17  2f-inner  14:35:12  14:36:30
18   2f-left  14:43:21  15:05:40
19        1f  15:00:34  15:02:44
20  1f-inner  15:00:52  15:02:44
21  2f-right  15:02:59  15:03:04
22        2f  15:24:30  15:31:15
23   2f-left  15:24:43  15:24:52
24  2f-inner  15:25:29  15:31:14
25        1f  15:31:30  15:34:46
26  1f-right  15:31:32  15:31:39

In [169]:
import plotly.plotly as py
from plotly.tools import FigureFactory as FF
import datetime

In [170]:
fig0 = FF.create_gantt(qd0[['Task','Start', 'Finish', 'Complete']], colors='Viridis', index_col='Complete', show_colorbar=True)
p0 = py.iplot(fig0, filename='Numeric Variable', world_readable=True)
p0

In [171]:
qd1 = printchartlah(mpframe_cand, 1)

--------------- 1 th longest moving pattern: Sequence # 1
--------------- Date_Device_id:  17071_5dd63ba8a12d13f0a397a548062be9c4
        Task   t_start     t_end
0        out  13:17:41  15:32:57
1         in  13:18:01  15:26:00
2         1f  13:18:01  13:18:04
3         2f  13:22:26  15:22:34
4   2f-inner  13:23:13  13:55:42
5         1f  13:36:42  13:41:27
6   1f-right  13:38:49  13:41:27
7    1f-left  13:38:49  13:41:26
8    2f-left  13:49:13  14:09:53
9         1f  14:14:42  14:30:41
10   2f-left  14:35:50  14:51:30
11        1f  15:06:58  15:22:34
12   2f-left  15:11:45  15:22:34
13  2f-right  15:17:19  15:22:30

In [172]:
fig1 = FF.create_gantt(qd1[['Task','Start', 'Finish', 'Complete']], colors='Viridis', index_col='Complete', show_colorbar=True)
p1 = py.iplot(fig1, filename='Numeric Variable', world_readable=True)
p1

In [173]:
qd2 = printchartlah(mpframe_cand, 2)

--------------- 2 th longest moving pattern: Sequence # 2
--------------- Date_Device_id:  17071_8c854c38fdb2f233eb6bc6c80df6c11e
       Task   t_start     t_end
0       out  13:14:06  15:34:41
1        in  13:14:06  15:34:40
2        1f  13:14:06  13:19:23
3        2f  13:14:07  15:14:14
4   2f-left  13:24:41  13:32:55
5        1f  13:38:13  13:54:04
6  2f-inner  14:17:24  14:27:58
7   2f-left  14:17:25  14:38:33
8   2f-left  15:03:28  15:08:41

In [174]:
fig2 = FF.create_gantt(qd2[['Task','Start', 'Finish', 'Complete']], colors='Viridis', index_col='Complete', show_colorbar=True)
p2 = py.iplot(fig2, filename='Numeric Variable', world_readable=True)
p2

In [175]:
qd3 = printchartlah(mpframe_cand, 3)

--------------- 3 th longest moving pattern: Sequence # 0
--------------- Date_Device_id:  17071_5550d077aac5ff2fdab5300565143d8c
       Task   t_start     t_end
0       out  13:13:32  15:32:50
1        in  13:14:31  13:45:49
2        2f  13:14:31  13:15:16
3        2f  13:35:35  13:45:49
4  1f-right  13:37:50  13:41:20
5        1f  13:37:50  13:41:20
6        in  14:01:20  14:30:05
7        2f  14:01:20  14:10:49
8        in  15:23:46  15:24:34

In [176]:
fig3 = FF.create_gantt(qd3[['Task','Start', 'Finish', 'Complete']], colors='Viridis', index_col='Complete', show_colorbar=True)
p3 = py.iplot(fig3, filename='Numeric Variable', world_readable=True)
p3

In [154]:
qd4 = printchartlah(mpframe_cand, 4)

--------------- 4 th longest moving pattern: Sequence # 4
--------------- Date_Device_id:  17071_de12dccd21897a9d433ecfef28afdf63
       Task   t_start     t_end
0       out  13:15:34  13:55:37
1        in  13:15:34  13:28:38
2        1f  13:15:34  13:28:38
3  1f-right  13:15:35  13:28:19
4        in  13:40:43  13:55:38
5        1f  13:46:03  13:55:37
6  1f-right  13:46:03  13:53:38

In [155]:
fig4 = FF.create_gantt(qd4[['Task','Start', 'Finish', 'Complete']], colors='Viridis', index_col='Complete', show_colorbar=True)
p4 = py.iplot(fig4, filename='Numeric Variable', world_readable=True)
p4

In [47]:
df['ts_start'] = df['ts'].apply(lambda x: datetime.datetime.fromtimestamp(x/1000).strftime('%Y-%m-%d %H:%M:%S'))
df2 = df.loc[df.area != 'out']

In [48]:
df

,area,deny,device_id,dwell_time,key,revisit_count,revisit_period,ts,date,date_device_id,ts_start
1,out,NaN,736652b63d4cff1ce9648fd19c195b1e,282,786:7fea89496fbc7c1c:out,NaN,NaN,1474975827000,17071,17071_736652b63d4cff1ce9648fd19c195b1e,2016-09-27 20:30:27
2,out,NaN,b14b0a69235292dd4d09f75f19079bed,38,786:7fea894970a96da6:out,NaN,NaN,1474975823209,17071,17071_b14b0a69235292dd4d09f75f19079bed,2016-09-27 20:30:23
3,out,NaN,b59aa37cc2e30b17c1a3617a442f2f78,39,786:7fea894970bdadfa:out,NaN,NaN,1474975822885,17071,17071_b59aa37cc2e30b17c1a3617a442f2f78,2016-09-27 20:30:22
4,out,NaN,4cfef2077e81acfb7e8ed5f266408f7e,14,786:7fea894971d33cf5:out,NaN,NaN,1474975818444,17071,17071_4cfef2077e81acfb7e8ed5f266408f7e,2016-09-27 20:30:18
8,out,NaN,54cdaa508cfe85aaa6a9f022d612ce23,3,786:7fea894974f2ae56:out,NaN,NaN,1474975805653,17071,17071_54cdaa508cfe85aaa6a9f022d612ce23,2016-09-27 20:30:05
12,out,NaN,075643e2e352d326d07dc655d7065600,4,786:7fea8949759fbf22:out,NaN,NaN,1474975802884,17071,17071_075643e2e352d326d07dc655d7065600,2016-09-27 20:30:02
14,out,NaN,37e306833014d73ba32dec95cfe4c95a,2,786:7fea894978509ec5:out,NaN,NaN,1474975791862,17071,17071_37e306833014d73ba32dec95cfe4c95a,2016-09-27 20:29:51
16,out,NaN,ad911d62a54e9b2ffc4727f0641a48ec,2,786:7fea894978680fa5:out,NaN,NaN,1474975791487,17071,17071_ad911d62a54e9b2ffc4727f0641a48ec,2016-09-27 20:29:51
18,out,NaN,e02bbec13ec5e0fde594790c95172cb5,3,786:7fea894979905e01:out,NaN,NaN,1474975786746,17071,17071_e02bbec13ec5e0fde594790c95172cb5,2016-09-27 20:29:46
24,out,NaN,080653b7f19a3c4cbfa49946d728c846,682,786:7fea894986bdfdc0:out,NaN,NaN,1474975732768,17071,17071_080653b7f19a3c4cbfa49946d728c846,2016-09-27 20:28:52
25,out,NaN,468c8a2555ebd119dc5fb743ba32804a,5,786:7fea894987477ff2:out,NaN,NaN,1474975730568,17071,17071_468c8a2555ebd119dc5fb743ba32804a,2016-09-27 20:28:50
30,out,NaN,2993d10020116662d96dcec50f61b6b1,3,786:7fea8949889e8d8a:out,NaN,NaN,1474975725079,17071,17071_2993d10020116662d96dcec50f61b6b1,2016-09-27 20:28:45
31,out,NaN,0a53f3d472007ba43e53ffe01650b951,16,786:7fea89498a46bfb3:out,NaN,NaN,1474975718292,17071,17071_0a53f3d472007ba43e53ffe01650b951,2016-09-27 20:28:38
36,out,NaN,86de14a9e1338347245f9cfea0e50cf4,40,786:7fea894993803dd2:out,NaN,NaN,1474975680508,17071,17071_86de14a9e1338347245f9cfea0e50cf4,2016-09-27 20:28:00
40,out,NaN,16a7de80f418d442448721b86d586e4e,23,786:7fea89499681be21:out,NaN,NaN,1474975668196,17071,17071_16a7de80f418d442448721b86d586e4e,2016-09-27 20:27:48
42,out,NaN,9e72b06c707cb4103ec1c4c5873b5812,580,786:7fea894997dd4eb0:out,NaN,NaN,1474975662635,17071,17071_9e72b06c707cb4103ec1c4c5873b5812,2016-09-27 20:27:42
43,out,NaN,b10a396ccc34745efb5a701f1dbe99ba,38,786:7fea8949980a6eb6:out,NaN,NaN,1474975661913,17071,17071_b10a396ccc34745efb5a701f1dbe99ba,2016-09-27 20:27:41
45,out,NaN,09f9204dbd027d2685f30434af245f62,506,786:7fea89499ae2dd77:out,NaN,NaN,1474975650258,17071,17071_09f9204dbd027d2685f30434af245f62,2016-09-27 20:27:30
47,out,NaN,8d27efedc7f18f77493cf6408b360c68,393,786:7fea89499bd88d09:out,NaN,NaN,1474975646327,17071,17071_8d27efedc7f18f77493cf6408b360c68,2016-09-27 20:27:26
48,out,NaN,a8b286e6557a9161dca878525c761ba8,681,786:7fea89499c1a6c78:out,NaN,NaN,1474975645273,17071,17071_a8b286e6557a9161dca878525c761ba8,2016-09-27 20:27:25
49,out,NaN,0f241275fc286929662bb4b17ca26b40,2,786:7fea89499d342f7f:out,NaN,NaN,1474975640765,17071,17071_0f241275fc286929662bb4b17ca26b40,2016-09-27 20:27:20
51,out,NaN,9dcf31e73473aa44f40208cd406e896f,120,786:7fea89499e352f46:out,NaN,NaN,1474975636653,17071,17071_9dcf31e73473aa44f40208cd406e896f,2016-09-27 20:27:16
54,out,NaN,a1bba2f4c777010f2bf35e01d337366d,21,786:7fea8949a9dfbfd3:out,NaN,NaN,1474975588868,17071,17071_a1bba2f4c777010f2bf35e01d337366d,2016-09-27 20:26:28
55,out,NaN,f2660fb1c6a60b04eb7582f24e58ee0b,68,786:7fea8949aafe4f96:out,NaN,NaN,1474975584283,17071,17071_f2660fb1c6a60b04eb7582f24e58ee0b,2016-09-27 20:26:24
60,out,NaN,4c2fb8be1bb68d540c27ce9bdd06729c,41,786:7fea8949b7bf5ed4:out,NaN,NaN,1474975532042,17071,17071_4c2fb8be1bb68d540c27ce9bdd06729c,2016-09-27 20:25:32
62,out,NaN,2d3d5a1375d0dedcc1977f0e49d1c741,13,786:7fea8949c33acc29:out,NaN,NaN,1474975485011,17071,17071_2d3d5a1375d0dedcc1977f0e49d1c741,2016-09-27 20:24:45
63,out,NaN,cce12bfadde13fd0e9a9e509ecf53880,624,786:7fea8949c4276db2:out,NaN,NaN,1474975481225,17071,17071_cce12bfadde13fd0e9a9e509ecf53880,2016-09-27 20:24:41
65,out,NaN,f867838b4b668fb71bda10b46c5214da,3,786:7fea8949c7525c4f:out,NaN,NaN,1474975468250,17071,17071_f867838b4b668fb71bda10b46c5214da,2016-09-27 20:24:28
67,out,NaN,bd1f19360bc63283cff654226fa1bb31,3,786:7fea8949cbf90ec3:out,NaN,NaN,1474975449199,17071,17071_bd1f19360bc63283cff654226fa1bb31,2016-09-27 20:24:09
69,out,NaN,92191cc2b670aee68b8361cdcd669533,2,786:7fea8949cc066dbe:out,NaN,NaN,1474975448985,17071,17071_92191cc2b670aee68b8361cdcd669533,2016-09-27 20:24:08
...,...,...,...,...,...,...,...,...,...,...,...
49924,out,NaN,10ad9d7773c98db5aec633d9b90dbb71,30,786:7fea8aa248fb9ede:out,NaN,NaN,1474614227014,17067,17067_10ad9d7773c98db5aec633d9b90dbb71,2016-09-23 16:03:47
49926,out,NaN,d8163cfe02f776818b4120d7b2e48b64,84,786:7fea8aa24938bed7:out,NaN,NaN,1474614226036,17067,17067_d8163cfe02f776818b4120d7b2e48b64,2016-09-23 16:03:46
49927,out,NaN,922b77aaf6334a0efd6f3877af844608,544,786:7fea8aa2493f9ddc:out,NaN,NaN,1474614225926,17067,17067_922b77aaf6334a0efd6f3877af844608,2016-09-23 16:03:45
49928,out,NaN,04dda673a0b8bf6aef86339f4b100b2c,79,786:7fea8aa249a4bfd2:out,NaN,NaN,1474614224308,17067,17067_04dda673a0b8bf6aef86339f4b100b2c,2016-09-23 16:03:44
49932,out,NaN,2947472b023f4b4fb1602502214f0d71,6,786:7fea8aa24d898c45:out,NaN,NaN,1474614208359,17067,17067_2947472b023f4b4fb1602502214f0d71,2016-09-23 16:03:28
49933,out,NaN,77d0bb2c2dbaea16c570365666e1938d,747,786:7fea8aa24f960f3f:out,1.0,65.0,1474614199967,17067,17067_77d0bb2c2dbaea16c570365666e1938d,2016-09-23 16:03:19
49937,out,NaN,fdc0943ef2311dd61398d6932c3785b9,1082,786:7fea8aa25094ad42:out,NaN,NaN,1474614195893,17067,17067_fdc0943ef2311dd61398d6932c3785b9,2016-09-23 16:03:15
49939,out,NaN,07ead047ae149b83a9e146fab2123bb8,3,786:7fea8aa252539c8a:out,NaN,NaN,1474614188742,17067,17067_07ead047ae149b83a9e146fab2123bb8,2016-09-23 16:03:08
49942,out,NaN,76e424704eccb786e13dc577541e6e5a,455,786:7fea8aa259f55fa7:out,NaN,NaN,1474614157482,17067,17067_76e424704eccb786e13dc577541e6e5a,2016-09-23 16:02:37
49944,out,NaN,8bd9d731f7f54af1448c387296bcbf8e,90,786:7fea8aa25c9dcdb5:out,25.0,1.0,1474614146595,17067,17067_8bd9d731f7f54af1448c387296bcbf8e,2016-09-23 16:02:26
49945,out,NaN,eef01aa6b1a857f4bc1936a7e7ae4208,36,786:7fea8aa263889e4a:out,2.0,46.0,1474614118262,17067,17067_eef01aa6b1a857f4bc1936a7e7ae4208,2016-09-23 16:01:58
49946,out,NaN,a296a628514d28a1db46f797d6b97f36,197,786:7fea8aa265765f71:out,NaN,NaN,1474614110362,17067,17067_a296a628514d28a1db46f797d6b97f36,2016-09-23 16:01:50
49953,out,NaN,6e296c20f9b3d27aaddaaded4716dc50,8,786:7fea8aa26c981f8d:out,3.0,1.0,1474614081150,17067,17067_6e296c20f9b3d27aaddaaded4716dc50,2016-09-23 16:01:21
49955,out,NaN,ec47e48a8b1582d6b247675a997bc73c,28,786:7fea8aa26e89fdb3:out,NaN,NaN,1474614073184,17067,17067_ec47e48a8b1582d6b247675a997bc73c,2016-09-23 16:01:13
49956,out,NaN,fa2e8e7cb3816926ba3af294f281e1f7,5,786:7fea8aa26f7f9f7b:out,NaN,NaN,1474614069254,17067,17067_fa2e8e7cb3816926ba3af294f281e1f7,2016-09-23 16:01:09
49962,out,NaN,d7cc40d8b88a46b50aa7d560e03336a5,145,786:7fea8aa270db8f0d:out,NaN,NaN,1474614063687,17067,17067_d7cc40d8b88a46b50aa7d560e03336a5,2016-09-23 16:01:03
49966,out,NaN,e42c9ae87da36e5fe655c3c3f355044b,172,786:7fea8aa272004c61:out,NaN,NaN,1474614059003,17067,17067_e42c9ae87da36e5fe655c3c3f355044b,2016-09-23 16:00:59
49972,out,NaN,c0b54a47aba213a62d15e1ac77ec77e5,5,786:7fea8aa2749c6c9b:out,NaN,NaN,1474614048313,17067,17067_c0b54a47aba213a62d15e1ac77ec77e5,2016-09-23 16:00:48
49980,out,NaN,ab23ee76b63440c1f7da7754e4198a5d,174,786:7fea8aa27b075e95:out,1.0,6.0,1474614022026,17067,17067_ab23ee76b63440c1f7da7754e4198a5d,2016-09-23 16:00:22
49981,out,NaN,73975a83c904d1ac14ac004aa6c8bebc,12,786:7fea8aa27ca70ed2:out,NaN,NaN,1474614015375,17067,17067_73975a83c904d1ac14ac004aa6c8bebc,2016-09-23 16:00:15
49982,out,NaN,3829327cb532db77f69e0fc8a369e828,20,786:7fea8aa27cff7cce:out,NaN,NaN,1474614013960,17067,17067_3829327cb532db77f69e0fc8a369e828,2016-09-23 16:00:13
49986,out,NaN,43809073fe825d6964c049c71182e0f4,15,786:7fea8aa2851c2dd9:out,NaN,NaN,1474613980733,17067,17067_43809073fe825d6964c049c71182e0f4,2016-09-23 15:59:40
49988,out,NaN,004544886dd834b453344f0da916aff6,11,786:7fea8aa287a97f94:out,1.0,2.0,1474613970280,17067,17067_004544886dd834b453344f0da916aff6,2016-09-23 15:59:30
49991,out,NaN,ba1a4cfd942b4d837ee4e10a6d025e1d,139,786:7fea8aa28e372edd:out,NaN,NaN,1474613943437,17067,17067_ba1a4cfd942b4d837ee4e10a6d025e1d,2016-09-23 15:59:03
49992,1f-left,NaN,34f95176a5712ab935f65c12bdb0ea52,45,786:7fea8aa291c55f3e:1f-left,NaN,NaN,1474613928874,17067,17067_34f95176a5712ab935f65c12bdb0ea52,2016-09-23 15:58:48
49993,1f-inner,NaN,34f95176a5712ab935f65c12bdb0ea52,92,786:7fea8aa291cfbef7:1f-inner,NaN,NaN,1474613928708,17067,17067_34f95176a5712ab935f65c12bdb0ea52,2016-09-23 15:58:48
49994,1f,NaN,34f95176a5712ab935f65c12bdb0ea52,92,786:7fea8aa291fe9efc:1f,NaN,NaN,1474613927958,17067,17067_34f95176a5712ab935f65c12bdb0ea52,2016-09-23 15:58:47
49995,in,NaN,34f95176a5712ab935f65c12bdb0ea52,92,786:7fea8aa291fe9efc:in,NaN,NaN,1474613927958,17067,17067_34f95176a5712ab935f65c12bdb0ea52,2016-09-23 15:58:47
49997,out,NaN,fa1d4f14701948f4d9713a6a32b1ebc9,63,786:7fea8aa292bc9ced:out,5.0,17.0,1474613924918,17067,17067_fa1d4f14701948f4d9713a6a32b1ebc9,2016-09-23 15:58:44
49998,out,NaN,260d605126f99d4fbfd3b8c1093df973,3,786:7fea8aa294b7fd07:out,NaN,NaN,1474613916800,17067,17067_260d605126f99d4fbfd3b8c1093df973,2016-09-23 15:58:36

In [74]:
i = 40
df2[i:i+50][['device_id', 'area', 'dwell_time', 'ts_start']]

,device_id,area,dwell_time,ts_start
2895,8b7c08b5c9795400d7ae2bbe8b1be410,2f-right,10,2016-09-27 16:50:21
2896,8b7c08b5c9795400d7ae2bbe8b1be410,in,10,2016-09-27 16:50:21
2970,07efe7f0724f4ade616c11768258cb1c,1f,115,2016-09-27 16:45:22
2971,07efe7f0724f4ade616c11768258cb1c,1f-right,2,2016-09-27 16:45:22
2972,07efe7f0724f4ade616c11768258cb1c,in,115,2016-09-27 16:45:22
3445,3152692afe8ff0e5715aacb89ab92ef4,1f,5,2016-09-27 16:08:30
3462,3152692afe8ff0e5715aacb89ab92ef4,in,81,2016-09-27 16:07:14
3831,4c676782d37f8f3512ca0e563abc6bd6,1f,7,2016-09-27 15:31:15
3832,4c676782d37f8f3512ca0e563abc6bd6,in,7,2016-09-27 15:31:15
4036,158c04751bcda6dd0326fdb5bb210634,1f,2,2016-09-27 15:18:33
4037,158c04751bcda6dd0326fdb5bb210634,in,2,2016-09-27 15:18:33
4743,0b435eaa07b9373f05637cf8b03a8da2,2f,38,2016-09-27 14:22:47
4745,0b435eaa07b9373f05637cf8b03a8da2,in,38,2016-09-27 14:22:47
4970,07efe7f0724f4ade616c11768258cb1c,1f,30,2016-09-27 14:05:54
4971,07efe7f0724f4ade616c11768258cb1c,in,30,2016-09-27 14:05:54
5011,8f4e27fd5639b469500efedaaa933ec5,1f,170,2016-09-27 14:02:56
5036,8f4e27fd5639b469500efedaaa933ec5,in,256,2016-09-27 14:01:30
5216,de12dccd21897a9d433ecfef28afdf63,1f-right,455,2016-09-27 13:46:03
5217,de12dccd21897a9d433ecfef28afdf63,1f,574,2016-09-27 13:46:03
5283,de12dccd21897a9d433ecfef28afdf63,in,895,2016-09-27 13:40:43
5312,07efe7f0724f4ade616c11768258cb1c,1f-inner,283,2016-09-27 13:38:02
5313,07efe7f0724f4ade616c11768258cb1c,1f-left,590,2016-09-27 13:37:59
5314,07efe7f0724f4ade616c11768258cb1c,1f,602,2016-09-27 13:37:57
5315,07efe7f0724f4ade616c11768258cb1c,1f-right,602,2016-09-27 13:37:57
5316,07efe7f0724f4ade616c11768258cb1c,in,602,2016-09-27 13:37:57
5373,a1bba2f4c777010f2bf35e01d337366d,in,83,2016-09-27 13:33:33
5382,a929327a342b73653547b9ce57eba9a7,1f,3,2016-09-27 13:33:18
5383,a929327a342b73653547b9ce57eba9a7,in,3,2016-09-27 13:33:18
5389,268eac5b638caea26f795a8fbd5da92b,1f,111,2016-09-27 13:33:05
5390,268eac5b638caea26f795a8fbd5da92b,1f-right,45,2016-09-27 13:33:05
5391,268eac5b638caea26f795a8fbd5da92b,in,111,2016-09-27 13:33:05
5634,de12dccd21897a9d433ecfef28afdf63,1f-right,764,2016-09-27 13:15:35
5635,de12dccd21897a9d433ecfef28afdf63,1f,784,2016-09-27 13:15:34
5636,de12dccd21897a9d433ecfef28afdf63,in,784,2016-09-27 13:15:34
5704,ee70e42e0385b0991b156a593e605e59,1f-right,266,2016-09-27 13:10:34
5709,ee70e42e0385b0991b156a593e605e59,1f,298,2016-09-27 13:10:12
5777,ee70e42e0385b0991b156a593e605e59,in,617,2016-09-27 13:04:53
5797,3e6d2d72e4adda00d4fa3349be12c0b0,1f-inner,361,2016-09-27 13:03:05
5800,c0aedde403ccf542ac0dfbf70bb546e5,1f,371,2016-09-27 13:02:54
5801,c0aedde403ccf542ac0dfbf70bb546e5,in,371,2016-09-27 13:02:54
5810,3e6d2d72e4adda00d4fa3349be12c0b0,1f-left,372,2016-09-27 13:01:59
5838,3e6d2d72e4adda00d4fa3349be12c0b0,1f,677,2016-09-27 13:00:30
5839,3e6d2d72e4adda00d4fa3349be12c0b0,1f-right,515,2016-09-27 13:00:30
6038,788bcf0af8e410d5907caaa3a41b31c8,1f,2,2016-09-27 12:43:39
6039,788bcf0af8e410d5907caaa3a41b31c8,in,2,2016-09-27 12:43:39
6149,3e6d2d72e4adda00d4fa3349be12c0b0,3f,142,2016-09-27 12:35:41
6189,3e6d2d72e4adda00d4fa3349be12c0b0,1f-inner,67,2016-09-27 12:32:02
6201,c0aedde403ccf542ac0dfbf70bb546e5,1f,122,2016-09-27 12:30:49
6203,c0aedde403ccf542ac0dfbf70bb546e5,in,122,2016-09-27 12:30:49
6208,3e6d2d72e4adda00d4fa3349be12c0b0,1f-right,207,2016-09-27 12:30:24

In [ ]:
uids = df2[i:i+50][['device_id', 'area', 'dwell_time', 'ts_start']].device_id.unique()

In [73]:
df.loc[df.device_id==uids[4]]

,area,deny,device_id,dwell_time,key,revisit_count,revisit_period,ts,date,date_device_id,ts_start
4036,1f,NaN,158c04751bcda6dd0326fdb5bb210634,2,786:7fea895b4888cdc9:1f,NaN,NaN,1474957113203,17071,17071_158c04751bcda6dd0326fdb5bb210634,2016-09-27 15:18:33
4037,in,NaN,158c04751bcda6dd0326fdb5bb210634,2,786:7fea895b4888cdc9:in,1.0,22.0,1474957113203,17071,17071_158c04751bcda6dd0326fdb5bb210634,2016-09-27 15:18:33
4038,out,NaN,158c04751bcda6dd0326fdb5bb210634,60,786:7fea895b4e59ddb7:out,1.0,22.0,1474957089378,17071,17071_158c04751bcda6dd0326fdb5bb210634,2016-09-27 15:18:09
37805,out,NaN,158c04751bcda6dd0326fdb5bb210634,656,786:7fea8a51a2be9e12:out,1.0,19.0,1474698794006,17068,17068_158c04751bcda6dd0326fdb5bb210634,2016-09-24 15:33:14
38089,out,NaN,158c04751bcda6dd0326fdb5bb210634,35,786:7fea8a529c438d4e:out,1.0,19.0,1474697771975,17068,17068_158c04751bcda6dd0326fdb5bb210634,2016-09-24 15:16:11